@model BILL.ViewModel.Account.SignUpVM

<form asp-action="Register">
    <div class="form">
        <label>Username:</label>
        <input type="text" class="form-control" asp-for="UserName" />
    </div>
    <div class="form">
        <label>Email:</label>
        <input type="email" class="form-control" asp-for="Email" />
    </div>
    <div class="form">
        <label>Password:</label>
        <input type="password" class="form-control" asp-for="Password" />
    </div>
    <div class="form">
        <label>Confirm password:</label>
        <input type="password" class="form-control" asp-for="PasswordConfirm" />
    </div>

     <div class="form">
        <label>Address:</label>
        <input type="text" class="form-control" asp-for="DiaChi" />
    </div>
     <div class="form">
        <label>numberPhone:</label>
        <input type="text" class="form-control" asp-for="PhoneNumber" />
    </div>
    <div class="form">
        <label>dateofbirth:</label>
        <input type="datetime" class="form-control" asp-for="Dateofbirth" />
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>